@font-face {
	font-family: 'Montserrat';
	src: url('../resources/montserrat/Montserrat-Regular.otf');
	font-weight: bold;
}

body {
	font-family: 'Montserrat';
	font-size: 20pt;
	background-color: #2F3030;
	color: #D7DBDE;
}

header {
	text-align:center;
}

nav {
	z-index: 3;
	width: 100%;
	line-height:50px;
	position: relative;
}

h1 {
	font-size: 45pt;
    margin-left: 25pt;
}

#navigation-toggle {
    position : absolute;
    left : 220pt;
    background-color: #5A98D6;
    color : white;
    padding : 5px;
    border-radius: 0 5px 5px 0;
    z-index: 1;
    padding-left: 35pt;
}

#wrapper {
	margin: 0 auto;
}

#content {
	height: 1500px; /* presetting the height */
}

.fixed {
    position:fixed;
}

.crowdmix-logo {
	max-height: 120pt !important;
	display: block;
	margin: 20pt auto;
}

.main-view {
	padding-top: 5pt;
	left: 0;
	right: 0;
}

.text-box {
	border-radius: 5px;
	border: none;
	background-color: #F0F0F0;
	height: 20pt;
	padding-left: 5pt;
	margin-bottom: 5pt;
	min-width: 200pt;
}

.button-container {
	margin-bottom: 10pt;
}

.component-box {
	margin-bottom: 10pt;
	border: 3px #2F3030 solid;
	height: 80pt;
	border-radius: 5px;
	line-height: normal;
	text-align: center;
	overflow: hidden;
}

.component-box-inner {
	text-overflow: ellipsis;
}

.component-name-box {
	line-height: 80pt;
}

.environment-name-box {
	background-color: #2F3030;
	text-align: center;
	font-size: 30pt;
	height: 40pt;
}

.good {
	color: #2F3030;
	background-color: #38E876;
}

.warning {
	color: #2F3030;
	background-color: #E8E838;
}

.bad {
	color: #2F3030;
	background-color: #E89638;
}

.critical {
	color: #D7DBDE;
	background-color: #D63E3E;
}

.inaccessable {
	color: #D7DBDE;
	background-color: #838587;
}

.sidebar {
    position : absolute;
    top : 0;
    bottom: 0;
    left : -250pt;
    transition : 100ms left;
    z-index: 10;
    background-color: #616363;
    padding: 10pt;
    min-width: 220pt;
}

.show {
    left : 0;
}

.constrict {
	margin-left: 220pt;
}

.navigation {
	padding-left: 0;
}

.error-text {
	font-size: 16pt;
}

.last-version-text {
	font-size: 12pt;
}

.version-text {
	font-size: 20pt;
}

.component-name-text {
  display: inline-block;
  vertical-align: middle;
  line-height: normal; 
}