<!doctype html>
<html ng-app="peridot">
	<head>
		<!-- META -->
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		
		<title>Feature Flag Monitor</title>
		
		<!-- Web dependencies -->
		<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css"><!-- load bootstrap -->
		<link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
		
		<!-- CSS -->
		<link rel="stylesheet" type="text/css" href="/css/mystyle.css">
		
		<!-- Javascript frameworks -->
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
		<script src="https://code.angularjs.org/1.4.9/angular-route.js"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
		
		<!-- File dependencies -->
		<script src="/js/core.js"></script> <!-- load our main application -->
		<script src="/js/controllers/iosController.js"></script> <!-- load up our controller -->
		<script src="/js/controllers/sidebarController.js"></script>
		<script src="/js/Services/gitService.js"></script>
	</head>
	
	<body ng-controller="iosController" ng-cloak>
		<div ng-controller="sidebarController">

			<div class="container-fluid">
				<div class="sidebar" sidebar-directive="state">
					<a href="#" id="navigation-toggle" ng-click="toggleNavBar()">▶</a>
					<ul class="navigation">
						<a href="./"><img src="/resources/logo_big.png" class="crowdmix-logo"></a>
						<h3>Feature Flag Monitor</h3>

						<h4>Current version: {{currentIosAppVersion.versionName}}</h4>

						<div class="dropdown dropdown-environment-box">
						    <button class="btn btn-primary dropdown-toggle dropdown-environment-box-inner" type="button" data-toggle="dropdown">Select iOS app environment
						    <span class="caret"></span></button>
						    <ul class="dropdown-menu dropdown-menu-outer">
						    	<div ng-repeat="environment in iosEnvironments">
						    		<li class="dropdown-items" ng-show="currentIosAppEnvironment.environmentName == environment.environmentName" ng-click="changeEnvironment(environment)">▶ {{environment.environmentName}}</li>
						    		<li class="dropdown-items" ng-show="currentIosAppEnvironment.environmentName != environment.environmentName" ng-click="changeEnvironment(environment)">{{environment.environmentName}}</li>
						    	</div>
						    </ul>
						</div>

						<div ng-repeat="version in currentIosAppEnvironment.data">
							<div class="app-version-box">
								<div ng-show="currentIosAppVersion.versionName == version.versionName" ng-click="getNewIosFlagData(version)">▶ Version: {{version.displayName}}</div>	
								<div ng-show="currentIosAppVersion.versionName != version.versionName" ng-click="getNewIosFlagData(version)">Version: {{version.displayName}}</div>	
							</div>
						</div>
					</ul>
				</div>
			</div>

			<div class="main-view container-fluid">
				<div id="wrapper">
					<nav>
						<div class="col-md-12">
							<div class="col-md-6 environment-name-box">
								<p>Feature Flag</p>
							</div>
							<div class="col-md-2 environment-name-box">CI</div>
							<div class="col-md-2 environment-name-box">QA</div>
							<div class="col-md-2 environment-name-box">PROD</div>
						</div>
					</nav>
					
					<div id="content">
						<div ng-repeat="flag in iosFlagData">
							<div class="col-md-12">
								<div class="col-md-6 feature-flag-name-box">
									<div class="feature-flag-name">{{flag.name}}</div>
									<div>DESCRIPTION: {{flag.desc}}</div>
								</div>
								<div class="col-md-2 feature-flag-box good" ng-show="flag.CI">✓</div>
								<div class="col-md-2 feature-flag-box critical" ng-show="!flag.CI">✗</div>
								<div class="col-md-2 feature-flag-box good" ng-show="flag.QA">✓</div>
								<div class="col-md-2 feature-flag-box critical" ng-show="!flag.QA">✗</div>
								<div class="col-md-2 feature-flag-box good" ng-show="flag.PROD">✓</div>
								<div class="col-md-2 feature-flag-box critical" ng-show="!flag.PROD">✗</div>							
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="footer">
			© Crowdmix Ltd. 2016
		</div>
	</body>
</html>